{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Conant Math Team</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/updates.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
    <link rel="stylesheet" href="{% static 'css/practice.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
        html {
          height: 100%;
          box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
          box-sizing: inherit;
        }

        body {
          position: relative;
          margin: 0;
          padding-bottom: 6rem;
          min-height: 100%;
        }
    </style>
</head>
<body>

  <nav class="navbar navbar-expand navbar-light bg-light">

    <div  class="navbar-nav">

          <div style="text-align: center">
              <span class="navbar-brand">Conant Math Team</span>
              <img src="{% static 'css/chs.png' %}" style="margin-right: 10px" alt = "conant logo" width="40px" height="40px">
          </div>

          <a {% ifequal activeNav "0" %}class="nav-link active" {% else %} class = "nav-link" {% endifequal %} href="{% url 'core:homepage' %}">Home<span class="sr-only">(current)</span></a>
          <a {% ifequal activeNav "1" %}class="nav-link active" {% else %} class = "nav-link" {% endifequal %} href="{% url 'core:post_list' %}">Updates</a>
          <a {% ifequal activeNav "2" %}class="nav-link active" {% else %} class = "nav-link" {% endifequal %} href="{% url 'core:question_list' %}">Problems</a>

          <div class="dropdown">
              <a  {% ifequal activeNav "5" %}class="nav-link active dropdown-toggle" {% else %} class = "nav-link dropdown-toggle" {% endifequal %}
                  style="cursor:pointer" id="navbardrop" data-toggle="dropdown">
                Learn
              </a>
              <div class="dropdown-content dropdown-menu">
                <a class="dropdown-item" href="{% url 'core:learn' 0 'Freshman Topics'%}">Freshman</a>
                <a class="dropdown-item" href="{% url 'core:learn' 1 'Sophomore Topics'%}">Sophomore</a>
                <a class="dropdown-item" href="{% url 'core:learn' 2 'Junior Topics'%}">Junior</a>
                <a class="dropdown-item" href="{% url 'core:learn' 3 'Senior Topics'%}">Senior</a>
              </div>
            </div>

          <div class="dropdown">
            <a  {% ifequal activeNav "3" %}class="nav-link active dropdown-toggle" {% else %} class = "nav-link dropdown-toggle" {% endifequal %} style="cursor:pointer" id="navbardrop" data-toggle="dropdown">
                Practice NSML
            </a>
            <div class="dropdown-content dropdown-menu">
              <a class="dropdown-item" href="{% url 'core:practice_topics' 0%}">Freshman</a>
              <a class="dropdown-item" href="{% url 'core:practice_topics' 1%}">Sophomore</a>
              <a class="dropdown-item" href="{% url 'core:practice_topics' 2%}">Junior</a>
              <a class="dropdown-item" href="{% url 'core:practice_topics' 3%}">Senior</a>
            </div>
          </div>

          <div class="dropdown">
              <a  {% ifequal activeNav "4" %}class="nav-link active dropdown-toggle" {% else %} class = "nav-link dropdown-toggle" {% endifequal %} style="cursor:pointer" id="navbardrop" data-toggle="dropdown">
                Practice Regionals/State
              </a>
              <div class="dropdown-content dropdown-menu">
                <a class="dropdown-item" href="{% url 'core:practice_topics' 4%}">Freshman</a>
                <a class="dropdown-item" href="{% url 'core:practice_topics' 5%}">Sophomore</a>
                <a class="dropdown-item" href="{% url 'core:practice_topics' 6%}">Junior</a>
                <a class="dropdown-item" href="{% url 'core:practice_topics' 7%}">Senior</a>
              </div>
          </div>

          <div class="dropdown">
              <a  {% ifequal activeNav "6" %}class="nav-link active dropdown-toggle" {% else %} class = "nav-link dropdown-toggle" {% endifequal %} style="cursor:pointer" id="navbardrop" data-toggle="dropdown">
                Practice Tests
              </a>
              <div class="dropdown-content dropdown-menu">
                <a href="{% url 'core:practice_tests' 0%}">Freshman</a>
                <a href="{% url 'core:practice_tests' 1%}">Sophomore</a>
                <a href="{% url 'core:practice_tests' 2%}">Junior</a>
                <a href="{% url 'core:practice_tests' 3%}">Senior</a>
              </div>
          </div>

          <a {% ifequal activeNav "4" %}class="nav-link active" {% else %} class = "nav-link" {% endifequal %} href="{% url 'core:logout_user' %}">Logout</a>
          <div style="float: right; text-align: right; margin-top: 7px;padding-left: 40px; padding-right: 10px" class="nav navbar-nav navbar-right">
            <h3 id="welcome">Welcome {{ user.username }}</h3>
          </div>

    </div>
</nav>

<div>
  {% block content %}
  {% endblock %}
</div>

<footer id="footer" style="position: absolute; right: 0; bottom: 0; left: 0; padding: 1rem; background-color: #efefef; text-align: center;" >©2019 Created by Nisha Pant and Andrew Milas</footer>


</body>
</html>