
{% extends 'core/Nav_Bar_Layout.html' %}

{% block content %}

<h1 class = "banner" id="title">{{ title }}</h1>
<br>

{% for key, value, color in progress %}
  <div class="questionList">
    <br>
    <a href="{% url 'core:practice_topics_detail' key%}">
      <p class="inlinep">Topic: {{ key }}</p>
        <div class="progress" style="width: 75%; margin: auto">
            <div class="{{ color }}" style="width:{{ value }}%"></div>
        </div><br>
      <span class = "inlinep" style="font-size: 20px; color: blue; margin-right: 20px" id="status">{{  value }}%</span>
      <a href="{% url 'core:reset' key category%}">
        <button class="btn btn-blue" style="margin: 0px">Reset</button>
      </a>
    </a>
  </div>
{% endfor %}

{% endblock %}


