
{% extends 'core/Nav_Bar_Layout.html' %}

{% block content %}

<h1 class = "banner" id="title">{{ title }}</h1>
<br>

{% for key, value, calcAllowed in testInfo %}
  <div class="questionList" style="text-align: left">
    <br>
    <a href="{% url 'core:practice_tests_take' key%}">
      <p class="inlinep">{{ key }}</p>
      <p class="inlinep" style="float: right; margin-right: 20px">Score: {{ value }}</p>
      <p style="font-size: 20px; color: blue; margin-left: 10px;">{{ calcAllowed }}</p>
    </a>
  </div>
{% endfor %}

{% endblock %}