
{% extends 'core/Nav_Bar_Layout.html' %}

{% block content %}

<h1 class = "banner" id="title">{{ title }}</h1>
<br>

{% for key, value, color in progress %}
  <div class="questionList">
    <br>
{#    <a href="{% url 'core:practice_tests_detail' key%}">#}
    <p class="inlinep">Topic: {{ key }}</p>
{#    </a>#}
    <br>
    <a href="{% url 'core:practice_tests_detail' key%}">
        <button class="btn btn-blue" style="margin: 0px">View Tests</button>
    </a>
  </div>
{% endfor %}

{% endblock %}
