
{% extends 'core/Nav_Bar_Layout.html' %}

{% block content %}

<h1 class = "banner" id="title">Practice Topics</h1>
<br>

{% for key, value, color in progress %}
  <div class="questionList">
    <br>
    <a href="{% url 'core:practice_topics_detail' key%}">
      <p class="inlinep">Topic: {{ key }}</p>
      <progress class = "inline" id="progressBar" value = {{ value }} max="100" style="color: {{ color }}"></progress>
      <span class = "inline" id="status">{{  value }}%</span>
    </a>
  </div>
{% endfor %}

{% endblock %}


