
{% extends 'core/Nav_Bar_Layout.html' %}

{% block content %}

<div class="questions-container">
    <div style="text-align: center">
        <h1 class = "inline" id="title">Ratios and Percents</h1>
        <progress class = "inline" id="progressBar" value="50" max = "100" style="width: 300px; height:24px;"></progress>
        <span class = "inline" id="status">50%</span>
    </div>
    <div class="questionList">
        <img class="img-fluid" src="{{ question.questionPicture.url }}" width="1000" height="500">
        <p class="left">Topic: {{ question.topic }}</p>
        <p class="left">Difficulty: {{ question.difficulty }}</p>
        <p class="left">Year: {{ question.year }}</p>
        <p class="left">Grade: {{ question.grade }}</p>

        <form action="{% url 'core:practice_topics' %}" method="post" role="form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="input" name="answer" placeholder="Type Answer Here">
            <input type="submit" name="submitAnswer" value="Submit Answer" class="btn btn-blue"/>
        </form>

        {% if correctAnswer %}
          <p>You are Correct</p>
            <script>
                var bar = document.getElementById("progressBar");
                var status = document.getElementById("status");
                bar.value+=10;
                status.innerHTML = bar.value + "%";
            </script>
        {% else %}
          <p>You are Incorrect</p>
            <script>
                var bar = document.getElementById("progressBar");
                var status = document.getElementById("status");
                bar.value-=10;
                status.innerHTML = bar.value + "%";
            </script>
        {% endif %}


   </div>
</div>
{% endblock %}


