{% extends 'core/Nav_Bar_Layout.html' %}
{% load staticfiles %}

{% block content %}
{% if title|slice:"0:4" == "RAND" %}
    <h1 class = "banner" id="title">Random {{ title|slice:"5:" }}</h1>
{% else %}
    <h1 class = "banner" id="title">{{ title }}</h1>
{% endif %}
<h1 style="text-align: center; font-size: 45px; margin-top: 10px" id="timer">Time: 0:00</h1>

<form action="{% url 'core:practice_tests_take' title%}" method="post" role="form">
{% csrf_token %}
{{ form.as_p }}

<div class="questionList" id="endTime" style="visibility: hidden; position: fixed; top: 123px; margin: auto; left: 0; right: 0; z-index: 1;
    border-style: solid; border-width: 5px; background: #5ab6db; width: 50%" >
    <p style="font-weight: bold; font-size: 23px">Time Ran Out</p>
    <p id="score" style="font-size: 20px">You scored 0/5 correct</p>
    <input style="display: block; margin: auto; left: 0; right: 0;" type="submit" name="back" value="Back" class="btn btn-blue"/>
</div>

{% for question in questions %}
    <div class="questionList" style="position: relative">
    {#        {% if question.calc_allowed %}#}
            <img src="{% static 'css/calculator.png' %}" style="position: absolute; right: -10px; top: 5px" alt = "calculator allowed" width="70px" >
{#        {% endif %}#}
        <h4 class="inlineh" style="display: block; font-weight: bold; margin-top: 20px; margin-bottom: 15px"> Question {{ forloop.counter }} </h4>
        {% if question.questionPicture %}
            <img class="img-fluid"src="{{ question.questionPicture.url }}" width="1000" height="500">
        {% endif %}
        {% if question.questionText %}
           <p class="left" style="font-size: 20px">{{ question.questionText|linebreaksbr }}</p>
        {% endif %}
        <p class="left">Answer: {{ question.answer }}</p>
        <input type="input" id="answer{{ forloop.counter }}" name="answer{{ forloop.counter }}" placeholder="Type Answer Here">
        {%  if viewSolutions %}
            <img id="correct{{ forloop.counter }}" class="img-fluid" style="position: absolute; margin-left: 20px;" src="{% static 'css/incorrect.png' %}" width="30" height="40">
            <div id="solutionBtn{{ forloop.counter }}" class="btn btn-blue" style="display: block; width: 150px; margin: auto; margin-top: 15px; left: 0; right: 0;">View Solution</div>
            <div id = "solution{{ forloop.counter }}" style="margin: auto; display: none">
                <hr>
                {% if question.answerPicture %}
                    <img style="margin-top: 20px" class="img-fluid" src="{{ question.answerPicture.url }}" width="1000" height="500">
                {% endif %}
                {% if question.answerText %}
                   <p class="left" style="font-size: 20px">{{ question.answerText|linebreaksbr }}</p>
                {% endif %}
            </div>
        {% endif %}

    </div>
{% endfor %}

{%  if viewSolutions %}
    <input style="display: block; margin: auto; margin-bottom: 0px; left: 0; right: 0;" type="submit" name="back" value="Back" class="btn btn-blue"/>
{% else %}
    <input id="submit" style="display: block; margin: auto; margin-bottom: 0px; left: 0; right: 0;" type="submit" name="submitAnswers" value="Submit Answers" class="btn btn-blue"/>
{% endif %}
</form>

<script>
    var end = "{{ end }}";
    var topic = "{{ title }}";
    var token = "{{ csrf_token }}";
    var viewSolutions = "{{ viewSolutions }}";
    var currAnswers = {% autoescape off %} "{{ currAnswers }}" {% endautoescape %};
    var distribution = {% autoescape off %} "{{ distribution }}" {% endautoescape %};
</script>

<script src="{% static 'js/practice_tests_take.js' %}"></script>
{% endblock %}