
{% extends 'core/Nav_Bar_Layout.html' %}
<style>
    progress[value] {
  border-radius: 20px;
}
progress[value]::-webkit-progress-bar {
  border-radius: 20px;
}
progress[value]::-webkit-progress-value {
  border-radius: 20px;
}
progress[value]::-moz-progress-bar {
  border-radius: 20px;
}


</style>
{% block content %}

<div class="questions-container">
    <div style="text-align: center">
        <h1 class = "inline" id="title">{{ topic }}</h1>
        <progress class = "inline" id="progressBar" value = {{ progress2 }} max="100" style="width: 300px; height:24px; color: {{ color }}"></progress>
        <span class = "inline" id="status">{{ progress2 }}%</span>
    </div>
    <div class="questionList">
        <img class="img-fluid" src="{{ question.questionPicture.url }}" width="1000" height="500">
        <p class="left">Topic: {{ question.topic }}</p>
        <p class="left">Difficulty: {{ question.difficulty }}</p>
        <p class="left">Year: {{ question.year }}</p>
        <p class="left">Grade: {{ question.grade }}</p>

        <form action="{% url 'core:practice_topics_detail' topic%}" method="post" role="form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="input" name="answer" placeholder="Type Answer Here">
            <input type="submit" name="submitAnswer" value="Submit Answer" class="btn btn-blue"/>
        </form>

        {% if correctAnswer %}
          <p>You are Correct</p>
        {% else %}
          <p>You are Incorrect</p>
        {% endif %}


   </div>
</div>
{% endblock %}