
{% extends 'core/Nav_Bar_Layout.html' %}
{% block content %}

<div class="questions-container">
    <div style="text-align: center">
        <div class="flex-container">
            <h1 id="title" style="font-size: 35px; margin-top: 10px">{{ topic }}</h1>
            <div class="progress" style="width: 250px;  height: 33px">
                <div class="{{ color }}" style="width:{{ progress2 }}%"></div>
            </div>
            <span id="status" style="font-size: 25px">{{ progress2 }}%</span>
        </div>

    </div>
    <div class="questionList">
        {% if question.questionPicture %}
            <img class="img-fluid"src="{{ question.questionPicture.url }}" width="1000" height="500">
        {% endif %}
        {% if question.questionText %}
           <p style="font-size: 20px">{{ question.questionText|linebreaksbr }}</p>
        {% endif %}
        <p class="left">Topic: {{ question.topic }}</p>
        <p class="left">Difficulty: {{ question.difficulty }}</p>
        <p class="left">Year: {{ question.year }}</p>
        <p class="left">Grade: {{ question.grade }}</p>
        <p class="left">Answer: {{ question.answer }}</p>

        {% if showSolutionButton %}
            <div style="margin: auto">
                {% if question.answerPicture %}
                    <img class="img-fluid" src="{{ question.answerPicture.url }}" width="1000" height="500">
                {% endif %}
                {% if question.answerText %}
                   <p style="font-size: 20px">{{ question.answerText|linebreaksbr }}</p>
                {% endif %}
            </div>


            <form action="{% url 'core:practice_topics_detail' topic%}" method="post" role="form">
            {% csrf_token %}
            <input type="submit" name="nextQuestion" value="Next Question" class="btn btn-blue"/>
            <input style="margin: 0px" type="submit" name="back" value="Back" class="btn btn-blue"/>
            </form>

        {% elif correctAnswer %}
            <p>You are Correct</p>
            <form action="{% url 'core:practice_topics_detail' topic%}" method="post" role="form">
            {% csrf_token %}
            <input type="submit" name="nextQuestion" value="Next Question" class="btn btn-blue"/>
            <input type="submit" name="showSolution" value="Show Solution" class="btn btn-blue"/>
            <input type="submit" name="back" value="Back" class="btn btn-blue"/>
            </form>

        {% elif attempts != 0 %}
            <form action="{% url 'core:practice_topics_detail' topic%}" method="post" role="form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="input" name="answer" placeholder="Type Answer Here">
            <input type="submit" name="submitAnswer" value="Submit Answer" class="btn btn-blue"/>
            <input style="margin: 0px" type="submit" name="back" value="Back" class="btn btn-blue"/>
            </form>
            <p>You have {{ attempts }} attempts remaining</p>

        {% else %}
            <p>You are Incorrect</p>
            <form action="{% url 'core:practice_topics_detail' topic%}" method="post" role="form">
            {% csrf_token %}
            <input type="submit" name="nextQuestion" value="Next Question" class="btn btn-blue"/>
            <input type="submit" name="showSolution" value="Show Solution" class="btn btn-blue"/>
            <input type="submit" name="back" value="Back" class="btn btn-blue"/>
            </form>

        {% endif %}


   </div>
</div>
{% endblock %}