
{% extends 'core/Nav_Bar_Layout.html' %}

{% block content %}

<h1 class = "banner" id="title">{{ title }}</h1>
<br>

{% for key, value, calcAllowed, time in testInfo %}
  <form action="{% url 'core:practice_tests_take' key%}" method="post" role="form">
  {% csrf_token %}
  {{ form.as_p }}

  <div class="questionList" style="text-align: left; padding-top: 0; ">
    <br>
      {% if key|slice:"0:4" == "RAND" %}
        <p class="test-detail-p" style="font-size: 22px;padding-top: 6px">Random {{ key|slice:"5:" }}</p>
      {% else %}
        <p class="test-detail-p" style="font-size: 22px;padding-top: 6px">{{ key }}</p>
      {% endif %}
      {# Taking test for the first time #}
      {% if time == "0" %}
        <input style="float: right;margin: auto; margin-right: 17px; font-size: 18px" type="submit" name="takeTest" value="Take Test" class="btn btn-blue"/>
        <br><br>
        <p style="display: inline; font-size: 20px; color: blue; margin-left: 10px;">{{ calcAllowed }}</p>
        <p class="test-detail-p" style="float: right; margin-right: 21px; font-size: 20px; ">Score: {{ value }}</p>

      {#  Took test and can now view solutions #}
      {% elif time == "-1" %}
        <input style="float: right;margin: auto; margin-right: 17px; font-size: 18px" type="submit" name="viewSolutions" value="View Solutions" class="btn btn-blue"/>
        <input style="float: right;margin: auto; margin-right: 15px; font-size: 18px" type="submit" name="takeTest" value="Retake Test" class="btn btn-blue"/>
        <br><br>
        <p style="display: inline; font-size: 20px; color: blue; margin-left: 10px;">{{ calcAllowed }}</p>
        <p class="test-detail-p" style="float: right; margin-right: 21px; font-size: 20px; ">Score: {{ value }}</p>

      {# Currently taking test #}
      {% else %}
        <input style="float: right;margin: auto; margin-right: 17px; font-size: 18px" type="submit" name="takeTest" value="Continue Test" class="btn btn-blue"/>
        <br><br>
        <p style="display: inline; font-size: 20px; color: blue; margin-left: 10px;">{{ calcAllowed }}</p>
        <p class="test-detail-p" style="float: right; margin-right: 21px; font-size: 20px; ">Test In Progress</p>
      {% endif %}

  </div>

  </form>
{% endfor %}

{% endblock %}