{% extends 'core/Nav_Bar_Layout.html' %}
{% load staticfiles %}

{% block content %}

<div class="questions-container">
    <div style="text-align: center">
        <div class="flex-container">
            <h1 id="title" style="font-size: 35px; margin-top: 10px">{{ topic }}</h1>
            <div class="progress" style="width: 250px;  height: 33px">
                <div class="{{ color }}" style="width:{{ progress2 }}%"></div>
            </div>
            <span id="status" style="font-size: 25px">{{ progress2 }}%</span>
        </div>

    </div>
    <div class="questionList" style="position: relative">
        {% if question.calc_allowed %}
            <img src="{% static 'css/calculator.png' %}" style="position: absolute; right: -10px; bottom: 5px" alt = "calculator allowed" width="70px" >
        {% else %}
            <img src="{% static 'css/noCalculator.png' %}" style="position: absolute; right: -10px; bottom: 5px" alt = "calculator not allowed" width="70px" >
        {% endif %}
        {% if question.questionPicture %}
            <img class="img-fluid"src="{{ question.questionPicture.url }}" width="1000" height="500">
        {% endif %}
        {% if question.questionText %}
           <p class="left" style="font-size: 20px">{{ question.questionText|linebreaksbr }}</p>
        {% endif %}
{#        <p class="left">Topic: {{ question.topic }}</p>#}
{#        <p class="left">Difficulty: {{ question.difficulty }}</p>#}
{#        <p class="left">Year: {{ question.year }}</p>#}
{#        <p class="left">Grade: {{ question.grade }}</p>#}
{#        <p class="left">Answer: {{ question.answer }}</p>#}

        {# Answered question #}
        {% if correctAnswer or attempts == 0%}
            <input type="input" name="answer" disabled = "true" style="margin-bottom: 15px" value="{{ currAnswer }}" placeholder="Type Answer Here">
            {% if correctAnswer %}
                <img class="img-fluid" style="position: absolute; margin-left: 20px;" src="{% static 'css/correct.png' %}" width="40" height="40">
            {% else %}
                <img class="img-fluid" style="position: absolute; margin-left: 20px;" src="{% static 'css/incorrect.png' %}" width="30" height="40">
            {% endif %}

            {% if correctAnswer %}
                <p style="font-size: 20px">You are Correct</p>
            {% else %}
                <p style="font-size: 20px">You are Incorrect</p>
            {% endif %}

            <div id="solution" style="display: none; margin: auto">
                <hr>
                {% if question.answerPicture %}
                    <img class="img-fluid" src="{{ question.answerPicture.url }}" width="1000" height="500">
                {% endif %}
                {% if question.answerText %}
                   <p class="left" style="font-size: 20px">{{ question.answerText|linebreaksbr }}</p>
                {% endif %}
            </div>

            <form action="{% url 'core:practice_topics_detail' topic%}" method="post" role="form">
            {% csrf_token %}
            <input type="submit" name="nextQuestion" value="Next Question" class="btn btn-blue"/>
{#            <input type="submit" id="solutionBtn" name="showSolution" value="Show Solution" class="btn btn-blue"/>#}
            <div id="solutionBtn" class="btn btn-blue">Show Solution</div>
            <input type="submit" name="back" value="Back" class="btn btn-blue"/>
            </form>

        {# Still answering question #}
        {% else%}
            <form action="{% url 'core:practice_topics_detail' topic%}" method="post" role="form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="input" name="answer" placeholder="Type Answer Here">
            <input type="submit" name="submitAnswer" value="Submit Answer" class="btn btn-blue"/>
            <input style="margin: 0px" type="submit" name="back" value="Back" class="btn btn-blue"/>
            </form>
            {% if attempts < 3 %}
                <p style="font-size: 20px; margin-bottom: 5px; margin-top: 10px">You are Incorrect</p>
            {% endif %}
            <p style="font-size: 20px">You have {{ attempts }} attempts remaining</p>

        {% endif %}


   </div>
</div>

<script src="{% static 'js/practice_topics_detail.js' %}"></script>
{% endblock %}